.main-content {
    background-color: #22000c;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 900px;
}

.card {
    background-color: #F48C06;
    padding: 20px;
    min-height: 150px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.box {
    background-color: #9D0208;
    width: 85px;
    height: 85px;
    margin: 5px;
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.normal-down {
    align-self: flex-end;
}

.normal-up {
    align-self: flex-start;
}

.tall {
    height: 150px;
    width: 75px;
}

.wide {
    width: 175px;
    height: 75px;
}

.small {
    width: 75px;
    height: 55px;
}

.card-top-left {
    justify-content: flex-start;
}

.card-top-right {
    justify-content: center;
}

.card-middle-left {
    justify-content: flex-end;
}

.card-middle-right {
    justify-content: space-between;
}

.card-bottom-left {
    justify-content: space-around;
}

.card-bottom-right {
    justify-content: space-evenly;
}