* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-content {
    background-color: #370617;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1000px;
}

.card {
    background-color: #F48C06;
    padding: 20px;
    height: 160px;
    width: 468px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.box {
    background-color: #9D0208;
    width: 75px;
    height: 75px;
    margin: 5px;
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
}

.normal-down {
    align-self: flex-end;
}

.normal-up {
    align-self: flex-start;
}

.tall {
    height: 130px;
    width: 75px;
    align-items: center;
}

.tall .text {
    padding-bottom: 20px;
}

.wide {
    width: 175px;
    height: 75px;
}

.small {
    width: 75px;
    height: 65px;
    align-items: center;
}

.small .text {
    padding-bottom: 20px;
}

.card-top-left {
    justify-content: flex-start;
}

.card-top-right {
    justify-content: center;
}

.card-middle-left {
    justify-content: flex-end;
}

.card-middle-right {
    justify-content: space-between;
}

.card-bottom-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-bottom-right {
    justify-content: space-evenly;
}